.stylelogo{
	height:160px;
	width:160px;
	padding: 8px;
}
#go{
	background-color: white;
	color: #037ffc;
	padding:5px;
	border-radius: 7px;
	font-family: 'Roboto';
	font-weight: bold;
	border:0px;
}
#go:hover{
	background-color:#037ffc ;
	color: white;
	border-radius: 7px;
	border:0px;
}
.gradient2{
	background-image:linear -gradient(to top,#2403fc,#fc03ad,#7bfc03);
	height:100vh;
}
